#LandingPage {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* grid-template-rows: 20% 80%; */
  /* grid-template-rows: auto auto; */
  width: 100%;
  height: 100%;
  grid-auto-rows: min-content 1fr auto;
  grid-auto-rows: -webkit-min-content 1fr auto;
}

.LandingPageBlock {
  font-size: 400%;
  background-color: rgb(192, 246, 221);
}

.LandingPageBlock:hover {
  color: rgb(192, 246, 221);
  background-color: rgb(0, 0, 0);
}

.LandingPageBlock:hover div::after {
  -webkit-animation: pulse-bg 2s ease-in-out forwards;
  animation: pulse-bg 2s ease-in-out forwards;
}

@keyframes pulse-bg {
  0%   {background: rgb(192, 246, 221);}
  100% {background: rgb(246, 251, 229);}
}

.LandingPageBlock:hover path {
  /* fill: rgb(249, 230, 255); */
  /* fill: rgb(241, 218, 199); */
  fill: rgb(192, 246, 221);
  -webkit-animation: pulse 2s ease-in-out forwards;
  animation: pulse 2s ease-in-out forwards;
}

@keyframes pulse {
  0%   {fill: rgb(192, 246, 221);}
  100% {fill: rgb(246, 251, 229);}
}

#AboutLinkGraphic {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* -webkit-animation: fade-in-bottom 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}

#AboutLinkGraphic img {
  /* -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  -webkit-animation: fade-in-bottom 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#AboutLinkText {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  overflow: hidden;
}

#AboutLinkText svg {
  -webkit-animation: fade-in-bottom-about 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom-about 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#CodingLinkGraphic {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#CodingLinkGraphic img {
  /* -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#CodingLinkText {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /* -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  overflow: hidden;
}

#CodingLinkText svg {
  -webkit-animation: fade-in-bottom-coding 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom-coding 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#DesignLinkGraphic {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#DesignLinkGraphic img {
  /* -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#DesignLinkText {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  /* -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  overflow: hidden;
}

#DesignLinkText svg {
  -webkit-animation: fade-in-bottom-design 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom-design 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#AudioLinkGraphic {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#AudioLinkGraphic img {
  /* -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: rotate-vert-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#AudioLinkText {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  /* -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  overflow: hidden;
}

#AudioLinkText svg {
  -webkit-animation: fade-in-bottom-audio 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom-audio 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media only screen and (max-width: 550px) {
  #LandingPage {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  #AboutLinkGraphic img {
    margin-top: 1%;
    margin-bottom: 2%;
  }

  #CodingLinkGraphic img {
    margin-top: 4%;
    margin-bottom: 2%;
  }

  #DesignLinkGraphic img {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  #AudioLinkGraphic img {
    margin-top: 6%;
    margin-bottom: 4%;
  }

  #AboutLinkText {
    overflow: visible;
  }

  #CodingLinkText {
    overflow: visible;
  }

  #DesignLinkText {
    overflow: visible;
  }

  #AudioLinkText {
    overflow: visible;
  }
}

/* animations */

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom-about {
  0% {
    -webkit-transform: translateY(200%) scaleY(.88);
            transform: translateY(200%) scaleY(.88);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.88);
            transform: translateY(0) scaleY(.88);
    opacity: 1;
  }
}
@keyframes fade-in-bottom-about {
  0% {
    -webkit-transform: translateY(200%) scaleY(.88);
            transform: translateY(200%) scaleY(.88);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.88);
            transform: translateY(0) scaleY(.88);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom-coding {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom-coding {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom-design {
  0% {
    -webkit-transform: translateY(200%) scaleY(.95);
            transform: translateY(200%) scaleY(.95);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.95);
            transform: translateY(0) scaleY(.95);
    opacity: 1;
  }
}
@keyframes fade-in-bottom-design {
  0% {
    -webkit-transform: translateY(200%) scaleY(.95);
            transform: translateY(200%) scaleY(.95);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.95);
            transform: translateY(0) scaleY(.95);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom-audio {
  0% {
    -webkit-transform: translateY(200%) scaleY(.80);
            transform: translateY(200%) scaleY(.80);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.80);
            transform: translateY(0) scaleY(.80);
    opacity: 1;
  }
}
@keyframes fade-in-bottom-audio {
  0% {
    -webkit-transform: translateY(200%) scaleY(.80);
            transform: translateY(200%) scaleY(.80);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.80);
            transform: translateY(0) scaleY(.80);
    opacity: 1;
  }
}
