#AboutLinkText {
  display: grid;
  margin: auto;
  height: 100%;
  width: 100%;
}

#AboutLinkText svg {
  margin: auto;
  width: 85%;
  position: relative;
  display: block;
  transform: scaleY(.88);
  /* margin-top: -1.4%; */
}

#AboutLinkText:hover {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 650px) {
  #AboutLinkText {
    display: block;
    margin: auto;
  }

  #AboutLinkText svg {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
}
