#AboutLinkText {
  display: grid;
  margin: auto;
  height: 100%;
  width: 100%;
}

#AboutLinkText svg {
  margin: auto;
  width: 85%;
  position: relative;
  display: block;
  transform: scaleY(.88);
  /* margin-top: -1.4%; */
}

/* #AboutLinkText:hover svg {
  margin: auto;
  width: 85%;
  position: relative;
  display: block;
  transform: scaleY(.88);
  -webkit-animation: bounce-top 0.9s both;
	animation: bounce-top 0.9s both;
} */

#AboutLinkText:hover {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 550px) {
  #AboutLinkText {
    display: block;
  }

  #AboutLinkText svg {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

/* animation */

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-20%) scaleY(.88);
            transform: translateY(-20%) scaleY(.88);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
