#CodingLinkText {
  display: grid;
  margin: auto;
  height: 100%;
  width: 100%;
}

#CodingLinkText svg {
  margin: auto;
  width: 85%;
  position: relative;
  display: block;
}

#CodingLinkText:hover svg {
  -webkit-animation: bounce-top 0.9s both;
	animation: bounce-top 0.9s both;
}

#CodingLinkText:hover {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 650px) {
  #CodingLinkText {
    display: block;
    margin: auto;
  }

  #CodingLinkText svg {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
}

/* animation */

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
