#CodingLinkText {
  display: grid;
  margin: auto;
  height: 100%;
  width: 100%;
}

#CodingLinkText svg {
  margin: auto;
  width: 85%;
  position: relative;
  display: block;
}

#CodingLinkText:hover {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 650px) {
  #CodingLinkText {
    display: block;
    margin: auto;
  }

  #CodingLinkText svg {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
}
