#DesignLinkText {
  display: flex;
  flex-direction: column;
}

#DesignLinkText svg {
  margin: auto;
  margin-top: 0;
  width: 85%;
  transform: scaleY(.95);
  margin-top: -0.5%;
}

#DesignLinkText:hover img {
  filter: grayscale(100%) invert(100%);
}

#DesignLinkText:hover {
  background-color: rgb(0, 0, 0);
}

#DesignLinkText:hover div:after {
  mix-blend-mode: multiply;
}

#DesignLinkText:hover div {
  background-color: rgb(0, 0, 0);
}
